In [32]:
import pandas as pd
import numpy as np

In [33]:
# import dataset
csv_file ='./archive/spam.csv'

# List of encodings to try
encodings = ['utf-8', 'latin1', 'cp1252', 'iso-8859-1']

# Attempt to read the CSV file with different encodings
for encoding in encodings:
    try:
        data = pd.read_csv(csv_file, delimiter=',', encoding=encoding)
        # If reading succeeds, break out of the loop
        break
    except UnicodeDecodeError:
        continue
    
data.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [34]:
main_df = data
main_df.shape

(5572, 5)

In [35]:
# steps for building this application
# 1. Data Cleaning
# 2. EDA
# 3. Text Preprocessing
# 4. model building
# 5. Evalution
# 6. Imporvement
# 7. Website
# 7. Deploy

1. Data Cleaning

In [36]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [37]:
# drop last three columns
main_df = main_df.drop(columns=['Unnamed: 2','Unnamed: 3', 'Unnamed: 4' ])

main_df.sample(5)

       v1                                                 v2
2226  ham            If you have belive me. Come to my home.
137   ham     No no. I will check all rooms befor activities
3386  ham                       So u workin overtime nigpun?
3247  ham          Also track down any lighters you can find
3046  ham  Ok. Not much to do here though. H&M Friday, ca...

In [38]:
# renaming the cols
main_df = main_df.rename(columns={"v1": "target", "v2": "text"})

main_df.sample(5)

     target                                               text
205     ham  ÌÏ say until like dat i dun buy ericsson oso c...
2453    ham                       How much she payed. Suganya.
4757   spam  URGENT! Your Mobile number has been awarded wi...
4782    ham  Especially since i talk about boston all up in...
328     ham                   Cool, text me when you're parked